@import "../../../custom-var.scss";

.btn {
  &--active {
    color: $text-active;
    background-color: $bg-active;
    border: $border-active;
  }

  &--inactive {
    color: $text-inactive;
    background-color: $bg-inactive;
    border: $border-inactive;
  }

  &--default {
    color: $text-default;
    background-color: $bg-default;
    border: $border-default;
  }
}
