$text-active: #00dc82;
$bg-active: rgba(0, 220, 130, 0.2);
$border-active: 1px solid rgba(0, 220, 130, 0.1);
$selected-border-active: 3px solid rgba(0, 220, 130, 1);
$text-inactive: #ff4c4c;
$bg-inactive: rgba(255, 76, 76, 0.2);
$border-inactive: 1px solid rgba(255, 76, 76, 0.1);
$selected-border-inactive: 3px solid rgba(255, 76, 76, 1);
$text-default: #6c757d;
$bg-default: rgba(108, 117, 125, 0.1);
$border-default: 1px solid rgba(108, 117, 125, 0.1);
$selected-border-default: 3px solid rgba(108, 117, 125, 1);

:root {
  --text-active: #{$text-active};
  --border-active: #{$border-active};
  --bg-active: #{$bg-active};
  --selected-border-active: #{$selected-border-active};
  --text-inactive: #{$text-inactive};
  --bg-inactive: #{$bg-inactive};
  --border-inactive: #{$border-inactive};
  --selected-border-inactive: #{$selected-border-inactive};
  --text-default: #{$text-default};
  --bg-default: #{$bg-default};
  --border-default: #{$border-default};
  --selected-border-default: #{$selected-border-default};
}
